cffi==2.0.0 ; python_version >= "3.12" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
cryptography==46.0.4 ; python_version >= "3.12"
markdown-it-py==4.0.0 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
pdfminer-six==20251230 ; python_version >= "3.12"
pdfplumber==0.11.9 ; python_version >= "3.12"
pillow==12.1.0 ; python_version >= "3.12"
pycparser==3.0 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pymupdf==1.26.7 ; python_version >= "3.12"
pypdfium2==5.3.0 ; python_version >= "3.12"
rich==14.3.1 ; python_version >= "3.12"
shellingham==1.5.4 ; python_version >= "3.12"
typer==0.21.1 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
